<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation
        android:name="com.rabi.link.test.DirectVideoInstrumentation"
        android:targetPackage="com.rabi.link" />
    <instrumentation
        android:name="com.rabi.link.test.MobileThemeInstrumentation"
        android:targetPackage="com.rabi.link" />
    <instrumentation
        android:name="com.rabi.link.modules.xiaomi.MiHealthInstrumentation"
        android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.test.AsrTunnelInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.modules.rokid.AsrEventInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.test.AsrUiInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.test.StorageUiInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.test.ResourceCacheInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.test.RecordingLayoutInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.modules.wearable.WearableHealthCollectorInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.modules.wearable.WearableHealthOutboxInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.test.RecordingPaginationInstrumentation" android:targetPackage="com.rabi.link" />
    <instrumentation android:name="com.rabi.link.test.RecordingAsrNavigationInstrumentation" android:targetPackage="com.rabi.link" />
</manifest>
